.first__item,
.user__info {
  padding-top: 54px;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  width: 50%;
}

.list__item {
  display: flex;
  align-items: flex-start;
  margin-top: 52px;
  justify-content: space-between;

  width: 100%;
  height: 150px;
}

.head__item {
  display: flex;
  flex-direction: column;
  float: right;
  padding-left: 15px;
}

.text__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-right: 70px;
}

.paragraph__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.form__container {
  display: flex;
  flex-direction: column;

  gap: 32px;
  width: 50%;
  margin-top: 150px;
}

.button__submit {
  margin-left: 630px;
  width: 69px;
  height: 38px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  background-color: var(--grey4);

  border-radius: 8px;
}

.input_container {
  border: 1px solid black;
  height: 40px;
}

.paragraph__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  width: 50%;
  margin-top: 30px;
}

.paragraph__text2 {
  width: 50%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.button__post {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: #212529;
  border: 2px solid #212529;
  border-radius: 4px;

  padding: 10px;
}
.post__item {
  display: flex;
  flex-direction: row;
  width: 50%;
  flex-wrap: nowrap;
  width: 50%;
  gap: 12px;
  margin-bottom: 30px;
}

.imgg {
  margin-left: 30px;
  width: 22.76px;
  height: 20px;
  color: rgba(33, 37, 41, 0.5);
  margin-top: 4px;
}

.number {
  width: 17px;
  height: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 5px;
}

.cart__container {
  height: 246px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  width: 30%;
  position: absolute;
  top: 130px;
  right: 120px;
}

.paragraph__title2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #4263eb;
}

.list__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text_titlee {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #212529;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  padding-right: 19px;
}

.centerHeader {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  color: #fff;
  justify-content: space-between;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  width: 100%;
}

.main__container {
  padding: 0 120px;
}

.post {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  margin-top: 30px;
  color: #212529;
}

#heard__button {
  width: 26px;
  height: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #212529;
}

.ul__container {
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;

  left: 0;
  top: 0;
  z-index: 2;
  background: var(--grey-opacity-1);
  backdrop-filter: blur(5px);
  display: none;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;
}

.contentModal {
  width: 761px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 24px;
  gap: 32px;
  border-radius: 8px;
  background: var(--whiteFixed);
}

.headerModal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.closeButtonModal {
  width: 40px;
  height: 40px;
  border-radius: 150px;
  background: var(--grey5);
  color: var(--grey3);
}

.avatarModal {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatarModal h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--grey1);
}

.avatarModal small {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--grey2);
}

.contentModal h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: var(--grey1);
}
